APP_NAME="Vitalitate și Protecție"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Europe/Bucharest

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vitalitatesiprotectie
DB_USERNAME=root
DB_PASSWORD=

ADMIN_DEFAULT_EMAIL=admin@vitalitatesiprotectie.ro
ADMIN_DEFAULT_PASSWORD=ChangeMe123!
